/*
* Skeleton V1.0.3
* Copyright 2011, Dave Gamache, Anson Han
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 7/17/2011
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */

    .container   { position: relative; width: 960px; margin: 0 auto; padding: 0; }

    .column, .columns                           { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column                      { width: 40px;  }
    .container .two.columns                     { width: 100px; }
    .container .three.columns                   { width: 160px; }
    .container .four.columns                    { width: 220px; }
    .container .five.columns                    { width: 280px; }
    .container .six.columns                     { width: 340px; }
    .container .seven.columns                   { width: 400px; }
    .container .eight.columns                   { width: 460px; }
    .container .nine.columns                    { width: 520px; }
    .container .ten.columns                     { width: 580px; }
    .container .eleven.columns                  { width: 640px; }
    .container .twelve.columns                  { width: 700px; }
    .container .thirteen.columns                { width: 760px; }
    .container .fourteen.columns                { width: 820px; }
    .container .fifteen.columns                 { width: 880px; }
    .container .sixteen.columns                 { width: 940px; }

    .container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 620px; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 60px;  }
    .container .offset-by-two                   { padding-left: 120px; }
    .container .offset-by-three                 { padding-left: 180px; }
    .container .offset-by-four                  { padding-left: 240px; }
    .container .offset-by-five                  { padding-left: 300px; }
    .container .offset-by-six                   { padding-left: 360px; }
    .container .offset-by-seven                 { padding-left: 420px; }
    .container .offset-by-eight                 { padding-left: 480px; }
    .container .offset-by-nine                  { padding-left: 540px; }
    .container .offset-by-ten                   { padding-left: 600px; }
    .container .offset-by-eleven                { padding-left: 660px; }
    .container .offset-by-twelve                { padding-left: 720px; }
    .container .offset-by-thirteen              { padding-left: 780px; }
    .container .offset-by-fourteen              { padding-left: 840px; }
    .container .offset-by-fifteen               { padding-left: 900px; }


@media only screen and (min-width: 1024px) {
  .container    { min-width:1024px; width: 85%; height:auto; overflow:hidden; }

  /* Base Grid */
    .container .one.column                      { min-width: 40px; width: 4.1%; }
    .container .two.columns                     { min-width: 100px; width: 10.4%; }
    .container .three.columns                   { min-width: 160px; width: 16.67%; }
    .container .four.columns                    { min-width: 220px; width: 22.9%; }
    .container .five.columns                    { min-width: 280px; width: 29.167%; }
    .container .six.columns                     { min-width: 340px; width: 35.4167%; }
    .container .seven.columns                   { min-width: 400px; width: 41.67%; }
    .container .eight.columns                   { min-width: 460px; width: 47.9167%; }
    .container .nine.columns                    { min-width: 520px; width: 54.167%; }
    .container .ten.columns                     { min-width: 580px; width: 60.4167%; }
    .container .eleven.columns                  { min-width: 640px; width: 66.67%; }
    .container .twelve.columns                  { min-width: 700px; width: 72.9167%; }
    .container .thirteen.columns                { min-width: 760px; width: 79.167%; }
    .container .fourteen.columns                { min-width: 820px; width: 85.4167%; }
    .container .fifteen.columns                 { min-width: 880px; width: 91.667%; }
    .container .sixteen.columns                 { min-width: 940px; width: 97.9167%; }

    .container .one-third.column                { min-width: 300px; width: 31.25%; }
    .container .two-thirds.column               { min-width: 620px; width: 64.583%; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 60px;  }
    .container .offset-by-two                   { padding-left: 120px; }
    .container .offset-by-three                 { padding-left: 180px; }
    .container .offset-by-four                  { padding-left: 240px; }
    .container .offset-by-five                  { padding-left: 300px; }
    .container .offset-by-six                   { padding-left: 360px; }
    .container .offset-by-seven                 { padding-left: 420px; }
    .container .offset-by-eight                 { padding-left: 480px; }
    .container .offset-by-nine                  { padding-left: 540px; }
    .container .offset-by-ten                   { padding-left: 600px; }
    .container .offset-by-eleven                { padding-left: 660px; }
    .container .offset-by-twelve                { padding-left: 720px; }
    .container .offset-by-thirteen              { padding-left: 780px; }
    .container .offset-by-fourteen              { padding-left: 840px; }
    .container .offset-by-fifteen               { padding-left: 900px; }
}

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px;  }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }

        .container .one.column                      { width: 28px; }
        .container .two.columns                     { width: 76px; }
        .container .three.columns                   { width: 124px; }
        .container .four.columns                    { width: 172px; }
        .container .five.columns                    { width: 220px; }
        .container .six.columns                     { width: 268px; }
        .container .seven.columns                   { width: 316px; }
        .container .eight.columns                   { width: 364px; }
        .container .nine.columns                    { width: 412px; }
        .container .ten.columns                     { width: 460px; }
        .container .eleven.columns                  { width: 508px; }
        .container .twelve.columns                  { width: 556px; }
        .container .thirteen.columns                { width: 604px; }
        .container .fourteen.columns                { width: 652px; }
        .container .fifteen.columns                 { width: 700px; }
        .container .sixteen.columns                 { width: 748px; }

        .container .one-third.column                { width: 236px; }
        .container .two-thirds.column               { width: 492px; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 48px; }
        .container .offset-by-two                   { padding-left: 96px; }
        .container .offset-by-three                 { padding-left: 144px; }
        .container .offset-by-four                  { padding-left: 192px; }
        .container .offset-by-five                  { padding-left: 240px; }
        .container .offset-by-six                   { padding-left: 288px; }
        .container .offset-by-seven                 { padding-left: 336px; }
        .container .offset-by-eight                 { padding-left: 348px; }
        .container .offset-by-nine                  { padding-left: 432px; }
        .container .offset-by-ten                   { padding-left: 480px; }
        .container .offset-by-eleven                { padding-left: 528px; }
        .container .offset-by-twelve                { padding-left: 576px; }
        .container .offset-by-thirteen              { padding-left: 624px; }
        .container .offset-by-fourteen              { padding-left: 672px; }
        .container .offset-by-fifteen               { padding-left: 720px; }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 95%; margin: 0 auto; }
        .columns, .column { margin: 0; }

        .container .one.column,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 100%; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 679px) {
        .container { width: 95%; margin: 0 auto; }
        .columns, .column { margin: 0; }

        .container .one.column,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 100%; }
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }


/**************** customizations **************/
.container-screen {
    background: #ffffff;
    opacity: 0.75;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -10;
}
.container {
    z-index: 100;
    opacity: 1.00;
    padding: 0 10px;
    box-shadow: 0 0 5px 0 #888;
    background: #cccccc;
}

#wrap {
    background: url('../images/segmented-curtainwall-with-sunshades.jpg') center center no-repeat;
}


/******** superfish ******/
#navigation ul, #navigation ul.sf-menu {
/* background override goes here */
}


#navigation ul li a, #navigation ul.sf-menu li a, #navigation ul li a.active, #navigation ul.sf-menu li a.active {
    color: #ffffff;
    text-shadow: 1px 1px 0px #888888;
    text-transform: uppercase;
    padding: 15px 15px;
}

.block ul.menu li a.sf-depth-1 {
    background: none;
}

li.sf-depth-2 a.sf-depth-2 {
    padding-left: 25px !important;
    padding-right: 10px !important;
}

    /**********  jQuery UI overrides   *******************/
    .ui-accordion .ui-accordion-header .ui-icon {
        top: 13px !important;
    }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .ui-accordion .ui-accordion-header .ui-icon {
            top: 37% !important;
        }
    }
    .ui-accordion .ui-accordion-header a {
        padding-left: 2.3em !important;
        padding-bottom: .4em !important;
    }
    .ui-icon-triangle-1-s {
        background-position: -64px -12px !important;
    }
    .ui-icon-triangle-1-e {
        background-position: -32px -12px !important;
    }


    /**********  Masonry overrides  ****************************/
    .view-testimonials .masonry-item .node.node-teaser {
        margin-bottom: 5px;
        border: 1px solid #d6d6d6;
        border-radius: 15px;
        padding: 10px;
    }
    .view-testimonials .masonry-item .content .field-name-body:before{
        display: block;
        content: "\201C";
        font-size: 84px;
        position: relative;
        left: -20px;
        top: -35px;
        float: left;
        color: #7a7a7a;
        letter-spacing: -0.15em;
        font-weight: bold;
        font-style: italic;
    }
    .view-testimonials .masonry-item .content .field {
        padding: 10px 20px 0;
    }
    .view-testimonials .masonry-item .content .field-name-body .field-items .field-item p {
        margin: 0;
    }





.theme-default .nivo-directionNav a {
display: block;
width: 30px;
height: 30px;
background: url(../../../libraries/nivo-slider/themes/default/arrows.png) no-repeat;
text-indent: -9999px;
border: 0;
opacity: 100;
-webkit-transition: all 200ms ease-in-out;
-moz-transition: all 200ms ease-in-out;
-o-transition: all 200ms ease-in-out;
transition: all 200ms ease-in-out;
z-index:9999;
}

.theme-default a.nivo-nextNav {
background-position: -30px 0;
right: 15px;
}
.theme-default a.nivo-prevNav {
left: 15px;
}
#views-nivo-slider-featured-projects-block-1 {
  margin: auto;
}
@media only screen and (max-width: 520px) {
  #views-nivo-slider-featured-projects-block-1 {
    width: 100% !important;
    height: auto !important;
  }
  #views-nivo-slider-featured-projects-block-1 .nivo-caption {
    position: relative;
    top: 0;
    opacity: 100;
  }
}


#node-60 .links.inline {
display: none;
visibility: hidden;
}
#node-60.node.node-teaser {
margin-bottom: 0px;
padding-bottom: 0px;
}
.front #sidebar .block {
padding: 0;
}

#footer .one_third {
  display: none;
  visibility: hidden;
}

#block-views-products-block #node-217 h2 {
display: none;
visibility: hidden;
}
#block-views-products-block .views-row {
  padding: 10px 15px;
  border-top: 1px solid #aaa;
  margin-top: 10px;
}
#block-views-products-block .views-row h1 {
  font-size: 1.5em;
}
#block-views-services-block #node-216 h2 {
display: none;
visibility: hidden;
}

